@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
    url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: #45484d;
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #45484d 0%,
    #000000 100%
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #45484d 0%,
    #000000 100%
  );
  background: radial-gradient(ellipse at center, #45484d 0%, #000000 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#45484d", endColorstr="#000000", GradientType=1);
}

#dvd {
  font-family: "Open Sans";
  position: absolute;
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 500px;
  height: 220px;
  color: #fff;
}

h1 {
  font-size: 5em; /* 40px/16=2.5em */
  font-weight: bold;
}
